<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <title>志愿活动审核 - E志愿志愿者服务平台 V1.0</title>

    <link rel="stylesheet" type="text/css" href="/console/assets/css/fontawesome.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/themify.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/flag-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/feather-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/responsive.css">
</head>
<body>

<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>

<div class="page-wrapper" id="pageWrapper">

    <div class="page-main-header">
        <div class="main-header-right row m-0">
            <div class="main-header-left">
                <div class="logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                    src="/console/assets/images/logo/app-logo.svg" alt=""></a>
                </div>
                <div class="dark-logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                         src="/console/assets/images/logo/app-logo-dark.svg"
                                                                         alt=""></a></div>
                <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="sidebar"
                                               id="sidebar-toggle"></i></div>
            </div>

            <div class="nav-right col pull-right right-menu p-0">
                <ul class="nav-menus">
                    <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i
                            data-feather="maximize"></i></a></li>

                    <li>
                        <div class="mode"><i class="fa fa-moon-o"></i></div>
                    </li>

                                        <li class="p-0">
                        <button class="btn btn-primary-light" type="button"><a href="/logout"><i
                                data-feather="power"></i>退出登录</a></button>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="menu"></i></div>
        </div>
    </div>

    <div class="page-body-wrapper horizontal-menu">

        <header class="main-nav">

                        <div class="sidebar-user text-center">
                <a class="setting-primary" href="index.html"><i data-feather="settings"></i></a>
                <img class="img-90 rounded-circle" src="/console/assets/images/dashboard/1.png" alt="">
                <a href="index.html"><h6 class="mt-3 f-14 f-w-600">平台管理员</h6></a>
                <p class="mb-0 font-roboto">志愿活动审核与平台管理</p>
            </div>
            <nav>
                <div class="main-navbar">
                    <div class="left-arrow" id="left-arrow"><i data-feather="rewind"></i></div>
                    <div id="mainnav">
                                                <ul class="nav-menu custom-scrollbar">
                            <li class="back-btn">
                                <div class="mobile-back text-end"><span>返回</span><i class="fa fa-angle-right ps-2"
                                                                                   aria-hidden="true"></i></div>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>工作台</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="index.html"><i
                                    data-feather="home"></i><span>管理员工作台</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>志愿活动管理</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title active" href="act_not_audit.html"><i
                                    data-feather="check-square"></i><span>志愿活动审核</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="manual_hours.html"><i
                                    data-feather="clock"></i><span>补录时长复核</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="shows.html"><i
                                    data-feather="image"></i><span>志愿秀管理</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>账号管理</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="organizations.html"><i
                                    data-feather="briefcase"></i><span>组织账号</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="volunteers.html"><i
                                    data-feather="users"></i><span>志愿者名单</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>平台管理</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="announcements.html"><i
                                    data-feather="volume-2"></i><span>通知公告</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="audit_log.html"><i
                                    data-feather="shield"></i><span>审计日志</span></a>
                            </li>
                        </ul>

                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="play"></i></div>
                </div>
            </nav>
        </header>

        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h5>志愿活动--待审核</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="activity_keyword"
                                                   placeholder="活动名称或活动编号">
                                            <button class="btn btn-primary" type="button" id="btn_search_activity">
                                                查询
                                            </button>
                                            <button class="btn btn-light" type="button" id="btn_reset_activity">重置
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="basicScenario">
                                    <table class="table table-hover table-bordered" id="auditActivity_table">
                                        <thead>
                                        <tr>
                                            <th class="text-center">活动名称</th>
                                            <th class="text-center">活动开始时间</th>
                                            <th class="text-center">活动结束时间</th>
                                            <th class="text-center">活动地点</th>
                                            <th class="text-center">需求人数</th>
                                            <th class="text-center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="auditActivity_tbody">
                                        <tr>
                                            <td class="text-center text-muted" colspan="6">数据加载中……</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div class="text-muted" id="pager_info">共 0 条</div>
                                    <div>
                                        <button class="btn btn-outline-primary btn-sm" type="button" id="btn_prev_page">
                                            上一页
                                        </button>
                                        <span class="mx-2" id="pager_page">第 1 / 1 页</span>
                                        <button class="btn btn-outline-primary btn-sm" type="button" id="btn_next_page">
                                            下一页
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">详情界面</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="activityInformation">Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
                            dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
                            vestibulum at eros.</p>
                        <div class="form-group row mt-3">
                            <label class="col-sm-3 col-form-label text-end">审核不通过原因</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select class="form-control" id="audit_reason">
                                        <option value="">请选择</option>
                                        <option value="PLAN_INCOMPLETE">活动方案不完整</option>
                                        <option value="PEOPLE_UNCLEAR">人员安排不明确</option>
                                        <option value="TIME_CONFLICT">活动时间或场地存在冲突</option>
                                        <option value="INFO_MISSING">活动信息缺失</option>
                                        <option value="SAFETY_RISK">存在安全风险</option>
                                        <option value="OTHER">其他原因</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">审核意见</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <textarea class="form-control" id="audit_remark" rows="2"
                                              placeholder="可选，补充说明审核意见"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button class="btn btn-primary" type="button" id="btn_pass">通过</button>
                        <button class="btn btn-danger" type="button" id="btn_not_pass">不通过</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/console/assets/js/jquery-3.5.1.min.js"></script>

<script src="/console/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/console/assets/js/icons/feather-icon/feather-icon.js"></script>

<script src="/console/assets/js/sidebar-menu.js"></script>
<script src="/console/assets/js/config.js"></script>

<script src="/console/assets/js/bootstrap/popper.min.js"></script>
<script src="/console/assets/js/bootstrap/bootstrap.min.js"></script>

<script src="/console/assets/js/datepicker/date-picker/datepicker.js"></script>
<script src="/console/assets/js/datepicker/date-picker/datepicker.en.js"></script>
<script src="/console/assets/js/datepicker/date-picker/datepicker.custom.js"></script>

<script src="/console/assets/js/script.js"></script>

<script type="text/javascript">

    function formatTime(value) {
        if (!value) {
            return "—";
        }
        return String(value).replace("T", " ").substring(0, 16);
    }
</script>

<script type="text/javascript">

    var page = 1;
    var size = 10;
    var keyword = "";

    function renderPager(totalCount, currentPage, pageSize) {
        var total = totalCount || 0;
        page = currentPage || 1;
        size = pageSize || size;
        var pages = total === 0 ? 1 : Math.ceil(total / size);
        $("#pager_info").text("共 " + total + " 条");
        $("#pager_page").text("第 " + page + " / " + pages + " 页");
        $("#btn_prev_page").prop("disabled", page <= 1);
        $("#btn_next_page").prop("disabled", page >= pages);
    }

    function renderActivityTable(activities) {
        var $body = $("#auditActivity_tbody").empty();
        if (!activities || activities.length === 0) {
            $body.append('<tr><td class="text-center text-muted" colspan="6">暂无数据</td></tr>');
            return;
        }
        var html = "";
        $.each(activities, function (index, item) {
            html += `<tr>
                        <td class="text-center">${item.activityName || "—"}</td>
                        <td class="text-center">${formatTime(item.activityBegintime)}</td>
                        <td class="text-center">${formatTime(item.activityEndtime)}</td>
                        <td class="text-center">${item.activityLocation || "—"}</td>
                        <td class="text-center">${item.activityNeedpeople || 0}</td>
                        <td class="text-center">
                            <button class="btn btn-pill btn-outline-primary btn-sm" type="button"
                                    onclick="activityInfo(${item.activityNum})" data-bs-toggle="modal"
                                    data-bs-target="#myModal">查看详情</button>
                        </td>
                     </tr>`;
        });
        $body.html(html);
    }

    function loadActivities() {
        $.ajax({
            url: "/admin/findAuditActivityByState",
            type: "GET",
            data: {
                "page": page,
                "size": size,
                "keyword": keyword
            },
            success: function (result) {
                if (!result || result.code !== 100 || !result.extend) {
                    alert((result && result.msg) ? result.msg : "待审核活动加载失败");
                    return;
                }
                renderActivityTable(result.extend.list);
                renderPager(result.extend.total, result.extend.page, result.extend.size);
            },
            error: function () {
                alert("待审核活动加载失败，请稍后重试");
            }
        });
    }

    function closeAuditModal() {
        var modalElement = document.getElementById("myModal");
        if (window.bootstrap && bootstrap.Modal && modalElement) {
            var modalInstance = bootstrap.Modal.getInstance(modalElement);
            if (modalInstance) {
                modalInstance.hide();
            }
        }
    }

    function activityInfo(activityNum) {
        console.log("查看活动详情");
        $.ajax({
            url: "/activity/activityInfo",
            type: "GET",
            data: {
                "activityNum": activityNum,
            },
            success: function (result) {
                console.log(result);
                $("#activityInformation").empty();

                $("#audit_reason").val("");
                $("#audit_remark").val("");
                var modalValue = ``;
                modalValue = `<div class="form-group row">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end" >活动名称</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="form-control" id="actvity_name" type="text" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end">活动内容</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <textarea class="form-control" id="actvity_detail" type="text" disabled="disabled"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end">活动开始时间</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="datepicker-here form-control digits" type="text" data-language="en"
                                                id="actvity_begintime" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end">活动结束时间</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="datepicker-here form-control digits" type="text" data-language="en"
                                                   id="actvity_endtime" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end">活动地点</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="form-control" id="actvity_location" type="text" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end">需求人数</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="form-control" id="actvity_needpeople" type="text" disabled="disabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end">注意事项</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="form-control" id="actvity_notice" type="text" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-end">报名截止时间</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input class="datepicker-here form-control digits" type="text" data-language="en"
                                                      id="actvity_signddl" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                `;
                $("#activityInformation").html(modalValue);
                let actInfo = result.extend.activityInfo[0];
                $("#actvity_name").val(actInfo.activityName);
                $("#actvity_detail").val(actInfo.activityDetail);
                $("#actvity_begintime").val(actInfo.activityBegintime);
                $("#actvity_endtime").val(actInfo.activityEndtime);
                $("#actvity_location").val(actInfo.activityLocation);
                $("#actvity_needpeople").val(actInfo.activityNeedpeople);
                $("#actvity_notice").val(actInfo.activityNotice);
                $("#actvity_signddl").val(actInfo.activitySignddl);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function auditActivityDelete(activityNum) {
        console.log("删除");
        $.ajax({
            url: "/activity/auditActivityDelete",
            type: "POST",
            data: {
                "activityNum": activityNum,
            },
            success: function (result) {
                alert((result && result.msg) ? result.msg : "操作已完成");
                if (result && result.code === 100) {
                    loadActivities();
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    $("#btn_pass").click(function () {
        var actName = $("#actvity_name").val();
        $.ajax({
            url: "/admin/passAct",
            type: "POST",
            data: {
                "actName": actName,
                "statue": 1,
                "reasonCode": "",
                "remark": $("#audit_remark").val()
            },
            success: function (result) {
                alert(result);
                closeAuditModal();
                loadActivities();
            },
            error: function () {
                alert("审核提交失败，请稍后重试");
            }
        });

    });

    $("#btn_not_pass").click(function () {
        var actName = $("#actvity_name").val();
        var reasonCode = $("#audit_reason").val();
        if (!reasonCode) {
            alert("请选择审核不通过的原因");
            return;
        }
        $.ajax({
            url: "/admin/passAct",
            type: "POST",
            data: {
                "actName": actName,
                "statue": 4,
                "reasonCode": reasonCode,
                "remark": $("#audit_remark").val()
            },
            success: function (result) {
                alert(result);
                closeAuditModal();
                loadActivities();
            },
            error: function () {
                alert("审核提交失败，请稍后重试");
            }
        });

    });

    $(document).ready(function () {
        loadActivities();
    });

    $("#btn_search_activity").click(function () {
        keyword = $.trim($("#activity_keyword").val());
        page = 1;
        loadActivities();
    });

    $("#btn_reset_activity").click(function () {
        $("#activity_keyword").val("");
        keyword = "";
        page = 1;
        loadActivities();
    });

    $("#activity_keyword").keydown(function (event) {
        if (event.keyCode === 13) {
            $("#btn_search_activity").click();
        }
    });

    $("#btn_prev_page").click(function () {
        if (page > 1) {
            page = page - 1;
            loadActivities();
        }
    });

    $("#btn_next_page").click(function () {
        page = page + 1;
        loadActivities();
    });

</script>

</body>
</html>
