<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <title>审核未通过的活动 - E志愿志愿服务管理系统 V1.0</title>

    <link rel="stylesheet" type="text/css" href="/console/assets/css/fontawesome.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/themify.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/flag-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/feather-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/responsive.css">
</head>
<body>

<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>

<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <div class="page-main-header">
        <div class="main-header-right row m-0">
            <div class="main-header-left">
                <div class="logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                   src="/console/assets/images/logo/app-logo.svg" alt=""></a>
                </div>
                <div class="dark-logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                         src="/console/assets/images/logo/app-logo-dark.svg"
                                                                         alt=""></a></div>
                <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="sidebar"
                                               id="sidebar-toggle"></i></div>
            </div>
            <div class="left-menu-header col">
                <h6 class="f-w-600 mb-0">志愿者组织工作台</h6>
            </div>
            <div class="nav-right col pull-right right-menu p-0">
                <ul class="nav-menus">
                    <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i
                            data-feather="maximize"></i></a></li>
                    <li class="p-0">
                        <button class="btn btn-primary-light" type="button"><a href="notifications.html"><i
                                data-feather="bell"></i>未读消息 <span id="unread_count">0</span></a></button>
                    </li>
                    <li class="p-0">
                        <button class="btn btn-primary-light" type="button"><a href="/logout"><i
                                data-feather="power"></i>退出登录</a></button>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="menu"></i></div>
        </div>
    </div>

    <div class="page-body-wrapper sidebar-icon">

        <header class="main-nav">
            <div class="sidebar-user text-center">
                <a class="setting-primary" href="org_info.html"><i data-feather="settings"></i></a>
                <img class="img-90 rounded-circle" src="/console/assets/images/dashboard/1.png" alt="">
                <a href="org_info.html"><h6 class="mt-3 f-14 f-w-600" id="organization_name">志愿者组织</h6></a>
                <p class="mb-0 font-roboto">志愿活动申报与报名管理</p>
            </div>
            <nav>
                <div class="main-navbar">
                    <div class="left-arrow" id="left-arrow"><i data-feather="rewind"></i></div>
                    <div id="mainnav">
                        <ul class="nav-menu custom-scrollbar">
                            <li class="back-btn">
                                <div class="mobile-back text-end"><span>返回</span><i class="fa fa-angle-right ps-2"
                                                                                   aria-hidden="true"></i></div>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>工作台</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="index.html"><i
                                    data-feather="home"></i><span>组织工作台</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>志愿活动管理</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="up_activity.html"><i
                                    data-feather="plus"></i><span>申报志愿活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_audit.html"><i
                                    data-feather="airplay"></i><span>审核中的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title active" href="act_not_audit.html"><i
                                    data-feather="octagon"></i><span>审核未通过的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_not_start.html"><i
                                    data-feather="clock"></i><span>未开始的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_carry.html"><i
                                    data-feather="play"></i><span>进行中的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_end.html"><i
                                    data-feather="check"></i><span>已结束的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="checkin_review.html"><i
                                    data-feather="check-square"></i><span>签到与时长复核</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="training.html"><i
                                    data-feather="book-open"></i><span>培训管理</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="announcements.html"><i
                                    data-feather="volume-2"></i><span>活动公告</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="notifications.html"><i
                                    data-feather="bell"></i><span>消息通知</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>组织中心</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="org_info.html"><i
                                    data-feather="sliders"></i><span>组织资料</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="play"></i></div>
                </div>
            </nav>
        </header>

        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h5>志愿活动--审核未通过</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <input class="form-control" id="keyword" type="text"
                                                   placeholder="活动名称或活动编号">
                                            <button class="btn btn-primary" type="button" id="search_button">查询</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="activity_table">
                                        <thead>
                                        <tr class="active">
                                            <th scope="col">活动名称</th>
                                            <th scope="col">活动开始时间</th>
                                            <th scope="col">活动结束时间</th>
                                            <th scope="col">活动地点</th>
                                            <th scope="col">需求人数</th>
                                            <th scope="col">审核时间</th>
                                            <th scope="col">驳回原因</th>
                                            <th scope="col">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="8" class="text-center text-muted">数据加载中……</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="activity_pager" class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="reviseModal" tabindex="-1" role="dialog" aria-labelledby="reviseModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviseModalLabel">活动详情（修改后重新申报）</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="activityInformation"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" id="revise_act_submit">修改后重新申报</button>
                        <button class="btn btn-light" type="button" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/console/assets/js/jquery-3.5.1.min.js"></script>

<script src="/console/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/console/assets/js/icons/feather-icon/feather-icon.js"></script>

<script src="/console/assets/js/sidebar-menu.js"></script>
<script src="/console/assets/js/config.js"></script>

<script src="/console/assets/js/bootstrap/popper.min.js"></script>
<script src="/console/assets/js/bootstrap/bootstrap.min.js"></script>

<script src="/console/assets/js/script.js"></script>

<script type="text/javascript">

    function formatTime(value) {
        if (!value) {
            return "—";
        }
        return String(value).replace("T", " ").substring(0, 16);
    }

    function toDateTimeInput(value) {
        if (!value) {
            return "";
        }
        return String(value).replace(" ", "T").substring(0, 16);
    }

    function toApiTime(value) {
        if (!value) {
            return "";
        }
        return String(value).replace("T", " ");
    }

    function renderPager(holderId, total, page, size, onChange) {
        total = Number(total) || 0;
        page = Number(page) || 1;
        size = Number(size) || 10;
        var totalPage = Math.ceil(total / size);
        var currentPage = totalPage === 0 ? 0 : page;
        var html = '<div class="d-flex justify-content-between align-items-center flex-wrap">'
            + '<span class="text-muted">共 ' + total + ' 条，第 ' + currentPage + ' / ' + totalPage + ' 页</span>'
            + '<div class="btn-group btn-group-pill" role="group" aria-label="分页">'
            + '<button class="btn btn-outline-primary btn-sm pager-prev" type="button"'
            + (page <= 1 ? ' disabled' : '') + '>上一页</button>'
            + '<button class="btn btn-outline-primary btn-sm pager-next" type="button"'
            + (page >= totalPage ? ' disabled' : '') + '>下一页</button>'
            + '</div></div>';
        var $holder = $("#" + holderId);
        $holder.html(html);
        $holder.find(".pager-prev").on("click", function () {
            if (page > 1) {
                onChange(page - 1);
            }
        });
        $holder.find(".pager-next").on("click", function () {
            if (page < totalPage) {
                onChange(page + 1);
            }
        });
    }

    function pageData(result, fallbackPage, fallbackSize) {
        var extend = (result && result.extend) ? result.extend : {};
        var total = Number(extend.total);
        var currentPage = Number(extend.page);
        var pageSize = Number(extend.size);
        return {
            list: extend.list || [],
            total: (isNaN(total) || total < 0) ? 0 : total,
            page: (isNaN(currentPage) || currentPage < 1) ? fallbackPage : currentPage,
            size: (isNaN(pageSize) || pageSize < 1) ? fallbackSize : pageSize
        };
    }

    function tip(result, fallback) {
        if (result && result.msg) {
            return result.msg;
        }
        if (typeof result === "string" && result) {
            return result;
        }
        return fallback;
    }

    function loadUnreadCount() {
        $.ajax({
            url: "/org/notifications/unreadCount",
            type: "GET",
            success: function (result) {
                var count = (result && result.extend) ? result.extend.count : 0;
                $("#unread_count").text((count === null || count === undefined) ? 0 : count);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    var SKILL_TAGS = ["助学支教", "助老服务", "环保公益", "社区服务", "医疗健康", "应急救援", "大型赛会", "文化宣传", "心理疏导", "信息技术"];

    var REASON_TEXT = {
        PLAN_INCOMPLETE: "活动方案不完整",
        PEOPLE_UNCLEAR: "人员安排不明确",
        TIME_CONFLICT: "活动时间或场地存在冲突",
        INFO_MISSING: "活动信息缺失",
        SAFETY_RISK: "存在安全风险",
        OTHER: "其他原因"
    };

    var page = 1, size = 10, keyword = "";

    var currentNotAuditActivityNum = null;

    var reviseModal = null;

    function reasonText(item) {
        if (item.activityReasonCode) {
            return REASON_TEXT[item.activityReasonCode] || item.activityReasonCode;
        }
        return item.activityRemark || "—";
    }

    function collectSkillTags() {
        var tags = [];
        $(".revise_skill_checkbox:checked").each(function () {
            tags.push($(this).val());
        });
        return tags.join(",");
    }

    function applyReviseSkillChecked(actInfo) {
        var names = actInfo.activitySkillNames ? String(actInfo.activitySkillNames).split(",") : [];
        $(".revise_skill_checkbox").each(function () {
            $(this).prop("checked", $.inArray($(this).val(), names) >= 0);
        });
    }

    function buildReviseActForm() {
        var skillInputs = "";
        $.each(SKILL_TAGS, function (index, tag) {
            skillInputs += `<div class="form-check form-check-inline">
                                <input class="form-check-input revise_skill_checkbox" type="checkbox" id="revise_skill_${index}" value="${tag}">
                                <label class="form-check-label" for="revise_skill_${index}">${tag}</label>
                            </div>`;
        });
        return `<div class="form-group row">
                    <p class="col-sm-12 text-muted">该活动已修改 <span id="actvity_revision">0</span> 次，修改后需重新提交平台管理员审核。</p>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">活动名称</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="actvity_name" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">活动内容</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="actvity_detail" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">活动开始时间（年-月-日 时:分）</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="datetime-local" id="actvity_begintime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">活动结束时间（年-月-日 时:分）</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="datetime-local" id="actvity_endtime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">活动地点</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="actvity_location" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">需求人数</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="actvity_needpeople" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">注意事项</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="actvity_notice" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">报名截止时间（年-月-日 时:分）</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="datetime-local" id="actvity_signddl">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">服务技能标签</label>
                        <div class="col-sm-9">
                            ${skillInputs}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">活动定位</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="actvity_latitude" type="text" placeholder="纬度">
                            <input class="form-control" id="actvity_longitude" type="text" placeholder="经度">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-end">签到围栏半径（米）</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="actvity_radius" type="number" min="0" step="10">
                        </div>
                    </div>
                </div>`;
    }

    function renderActivityTable(list) {
        var tabValue = "";
        $.each(list, function (index, item) {
            tabValue += `<tr>
                            <td class="text-center">${item.activityName}</td>
                            <td class="text-center">${formatTime(item.activityBegintime)}</td>
                            <td class="text-center">${formatTime(item.activityEndtime)}</td>
                            <td class="text-center">${item.activityLocation || "—"}</td>
                            <td class="text-center">${item.activityNeedpeople || 0}</td>
                            <td class="text-center">${formatTime(item.activityChecktime)}</td>
                            <td class="text-center">${reasonText(item)}</td>
                            <td class="text-center">
                                <div class="btn-group btn-group-pill" role="group" aria-label="活动操作">
                                    <button class="btn btn-outline-primary btn-sm" type="button"
                                            onclick="notAuditActivityChange(${item.activityNum})">修改</button>
                                    <button class="btn btn-outline-danger btn-sm" type="button"
                                            onclick="notAuditActivityDelete(${item.activityNum})">删除</button>
                                </div>
                            </td>
                         </tr>`;
        });
        if (list.length === 0) {
            tabValue = `<tr><td colspan="8" class="text-center text-muted">暂无数据</td></tr>`;
        }
        $("#activity_table tbody").html(tabValue);
    }

    function load() {
        $.ajax({
            url: "/activity/findNotAuditActivityByNumAndState",
            type: "GET",
            data: {page: page, size: size, keyword: keyword},
            success: function (result) {
                var data = pageData(result, page, size);
                renderActivityTable(data.list);
                renderPager("activity_pager", data.total, data.page, data.size, function (target) {
                    page = target;
                    load();
                });
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function notAuditActivityChange(activityNum) {
        $.ajax({
            url: "/activity/activityInfo",
            type: "GET",
            data: {"activityNum": activityNum},
            success: function (result) {
                var actInfo = (result && result.extend && result.extend.activityInfo)
                    ? result.extend.activityInfo[0] : null;
                if (!actInfo) {
                    alert(tip(result, "活动详情加载失败"));
                    return;
                }
                currentNotAuditActivityNum = actInfo.activityNum;
                $("#activityInformation").html(buildReviseActForm());
                $("#actvity_name").val(actInfo.activityName);
                $("#actvity_detail").val(actInfo.activityDetail);
                $("#actvity_begintime").val(toDateTimeInput(actInfo.activityBegintime));
                $("#actvity_endtime").val(toDateTimeInput(actInfo.activityEndtime));
                $("#actvity_location").val(actInfo.activityLocation);
                $("#actvity_needpeople").val(actInfo.activityNeedpeople);
                $("#actvity_notice").val(actInfo.activityNotice);
                $("#actvity_signddl").val(toDateTimeInput(actInfo.activitySignddl));
                $("#actvity_latitude").val(actInfo.activityLatitude === null || actInfo.activityLatitude === undefined ? "" : actInfo.activityLatitude);
                $("#actvity_longitude").val(actInfo.activityLongitude === null || actInfo.activityLongitude === undefined ? "" : actInfo.activityLongitude);
                $("#actvity_radius").val(actInfo.activityRadius === null || actInfo.activityRadius === undefined ? 300 : actInfo.activityRadius);
                $("#actvity_revision").text(actInfo.activityRevision || 0);
                applyReviseSkillChecked(actInfo);
                if (!reviseModal) {
                    reviseModal = new bootstrap.Modal(document.getElementById("reviseModal"));
                }
                reviseModal.show();
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function submitReviseAct() {
        if (currentNotAuditActivityNum === null) {
            return;
        }
        $.ajax({
            url: "/org/reviseAct",
            type: "POST",
            data: {
                "activityNum": currentNotAuditActivityNum,
                "name": $("#actvity_name").val(),
                "content": $("#actvity_detail").val(),
                "startTime": toApiTime($("#actvity_begintime").val()),
                "endTime": toApiTime($("#actvity_endtime").val()),
                "location": $("#actvity_location").val(),
                "affair": $("#actvity_notice").val(),
                "need": $("#actvity_needpeople").val(),
                "sign_ddl": toApiTime($("#actvity_signddl").val()),
                "tags": collectSkillTags(),
                "latitude": $("#actvity_latitude").val(),
                "longitude": $("#actvity_longitude").val(),
                "radius": $("#actvity_radius").val()
            },
            success: function (result) {
                alert(tip(result, "修改后重新申报失败"));

                load();
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function notAuditActivityDelete(activityNum) {
        if (!confirm("确定删除该活动吗？删除后不可恢复。")) {
            return;
        }
        $.ajax({
            url: "/activity/notAuditActivityDelete",
            type: "POST",
            data: {"activityNum": activityNum},
            success: function (result) {
                var success = result && result.code === 100;
                alert(tip(result, success ? "删除成功" : "删除失败"));
                if (success) {
                    load();
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    $(document).ready(function () {
        loadUnreadCount();
        load();
        $("#search_button").click(function () {
            page = 1;
            keyword = $.trim($("#keyword").val());
            load();
        });
        $("#revise_act_submit").click(function () {
            submitReviseAct();
        });
    });

</script>
</body>
</html>
