<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <title>培训管理 - E志愿志愿服务管理系统 V1.0</title>

    <link rel="stylesheet" type="text/css" href="/console/assets/css/fontawesome.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/themify.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/flag-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/feather-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/responsive.css">
</head>
<body>

<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>

<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <div class="page-main-header">
        <div class="main-header-right row m-0">
            <div class="main-header-left">
                <div class="logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                   src="/console/assets/images/logo/app-logo.svg" alt=""></a>
                </div>
                <div class="dark-logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                         src="/console/assets/images/logo/app-logo-dark.svg"
                                                                         alt=""></a></div>
                <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="sidebar"
                                               id="sidebar-toggle"></i></div>
            </div>
            <div class="left-menu-header col">
                <h6 class="f-w-600 mb-0">志愿者组织工作台</h6>
            </div>
            <div class="nav-right col pull-right right-menu p-0">
                <ul class="nav-menus">
                    <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i
                            data-feather="maximize"></i></a></li>
                    <li class="p-0">
                        <button class="btn btn-primary-light" type="button"><a href="notifications.html"><i
                                data-feather="bell"></i>未读消息 <span id="unread_count">0</span></a></button>
                    </li>
                    <li class="p-0">
                        <button class="btn btn-primary-light" type="button"><a href="/logout"><i
                                data-feather="power"></i>退出登录</a></button>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="menu"></i></div>
        </div>
    </div>

    <div class="page-body-wrapper sidebar-icon">

        <header class="main-nav">
            <div class="sidebar-user text-center">
                <a class="setting-primary" href="org_info.html"><i data-feather="settings"></i></a>
                <img class="img-90 rounded-circle" src="/console/assets/images/dashboard/1.png" alt="">
                <a href="org_info.html"><h6 class="mt-3 f-14 f-w-600" id="organization_name">志愿者组织</h6></a>
                <p class="mb-0 font-roboto">志愿活动申报与报名管理</p>
            </div>
            <nav>
                <div class="main-navbar">
                    <div class="left-arrow" id="left-arrow"><i data-feather="rewind"></i></div>
                    <div id="mainnav">
                        <ul class="nav-menu custom-scrollbar">
                            <li class="back-btn">
                                <div class="mobile-back text-end"><span>返回</span><i class="fa fa-angle-right ps-2"
                                                                                   aria-hidden="true"></i></div>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>工作台</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="index.html"><i
                                    data-feather="home"></i><span>组织工作台</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>志愿活动管理</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="up_activity.html"><i
                                    data-feather="plus"></i><span>申报志愿活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_audit.html"><i
                                    data-feather="airplay"></i><span>审核中的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_not_audit.html"><i
                                    data-feather="octagon"></i><span>审核未通过的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_not_start.html"><i
                                    data-feather="clock"></i><span>未开始的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_carry.html"><i
                                    data-feather="play"></i><span>进行中的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="act_end.html"><i
                                    data-feather="check"></i><span>已结束的活动</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="checkin_review.html"><i
                                    data-feather="check-square"></i><span>签到与时长复核</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title active" href="training.html"><i
                                    data-feather="book-open"></i><span>培训管理</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="announcements.html"><i
                                    data-feather="volume-2"></i><span>活动公告</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="notifications.html"><i
                                    data-feather="bell"></i><span>消息通知</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>组织中心</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="org_info.html"><i
                                    data-feather="sliders"></i><span>组织资料</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="play"></i></div>
                </div>
            </nav>
        </header>

        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header pb-0">
                                <h5>培训管理</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <select class="form-control" id="activity_filter" aria-label="所属活动">
                                            <option value="">全部活动</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="btn-group btn-group-pill" role="group" aria-label="培训操作">
                                            <button class="btn btn-primary btn-sm" type="button" id="search_button">
                                                查询
                                            </button>
                                            <button class="btn btn-outline-primary btn-sm" type="button"
                                                    id="add_training_button">新增培训
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="training_table">
                                        <thead>
                                        <tr class="active">
                                            <th scope="col">培训名称</th>
                                            <th scope="col">所属活动</th>
                                            <th scope="col">培训内容</th>
                                            <th scope="col">培训开始时间</th>
                                            <th scope="col">培训结束时间</th>
                                            <th scope="col">培训地点</th>
                                            <th scope="col">签到方式</th>
                                            <th scope="col">已登记人数</th>
                                            <th scope="col">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="9" class="text-center text-muted">数据加载中……</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="training_pager" class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="trainingModal" tabindex="-1" role="dialog" aria-labelledby="trainingModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="trainingModalLabel">新增培训安排</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="training_num">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">所属活动</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="training_activity">
                                    <option value="">请选择活动</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">培训名称</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="training_name" type="text" maxlength="100">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">培训内容</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="training_detail" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">培训开始时间</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="datetime-local" id="training_begin">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">培训结束时间</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="datetime-local" id="training_end">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">培训地点</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="training_location" type="text" maxlength="100">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-end">签到方式</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="training_checkin" type="text" maxlength="50"
                                       placeholder="如：现场纸质签到">
                            </div>
                        </div>
                        <p class="text-muted mb-0">时间格式：年-月-日 时:分，结束时间需晚于开始时间。</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" id="training_submit">保存</button>
                        <button class="btn btn-light" type="button" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="situationModal" tabindex="-1" role="dialog" aria-labelledby="situationModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="situationModalLabel">培训情况<span
                                id="situation_training_name"></span></h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <select class="form-control" id="situation_volunteer" aria-label="志愿者">
                                    <option value="">请选择志愿者</option>
                                </select>
                                <p class="text-muted mb-0 d-none" id="situation_hint"></p>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="datetime-local" id="situation_begin"
                                       aria-label="培训开始时间">
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="datetime-local" id="situation_end"
                                       aria-label="培训结束时间">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-sm" type="button" id="situation_submit">登记</button>
                            </div>
                        </div>
                        <p class="text-muted">登记培训情况时请填写该志愿者实际参加培训的开始与结束时间（年-月-日 时:分）。</p>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="situation_table">
                                <thead>
                                <tr class="active">
                                    <th scope="col">志愿者编号</th>
                                    <th scope="col">姓名</th>
                                    <th scope="col">联系电话</th>
                                    <th scope="col">培训开始时间</th>
                                    <th scope="col">培训结束时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5" class="text-center text-muted">数据加载中……</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="situation_pager" class="mt-3"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-bs-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/console/assets/js/jquery-3.5.1.min.js"></script>

<script src="/console/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/console/assets/js/icons/feather-icon/feather-icon.js"></script>

<script src="/console/assets/js/sidebar-menu.js"></script>
<script src="/console/assets/js/config.js"></script>

<script src="/console/assets/js/bootstrap/popper.min.js"></script>
<script src="/console/assets/js/bootstrap/bootstrap.min.js"></script>

<script src="/console/assets/js/script.js"></script>

<script type="text/javascript">

    function formatTime(value) {
        if (!value) {
            return "—";
        }
        return String(value).replace("T", " ").substring(0, 16);
    }

    function toDateTimeInput(value) {
        if (!value) {
            return "";
        }
        return String(value).replace(" ", "T").substring(0, 16);
    }

    function toApiTime(value) {
        if (!value) {
            return "";
        }
        return String(value).replace("T", " ");
    }

    function renderPager(holderId, total, page, size, onChange) {
        total = Number(total) || 0;
        page = Number(page) || 1;
        size = Number(size) || 10;
        var totalPage = Math.ceil(total / size);
        var currentPage = totalPage === 0 ? 0 : page;
        var html = '<div class="d-flex justify-content-between align-items-center flex-wrap">'
            + '<span class="text-muted">共 ' + total + ' 条，第 ' + currentPage + ' / ' + totalPage + ' 页</span>'
            + '<div class="btn-group btn-group-pill" role="group" aria-label="分页">'
            + '<button class="btn btn-outline-primary btn-sm pager-prev" type="button"'
            + (page <= 1 ? ' disabled' : '') + '>上一页</button>'
            + '<button class="btn btn-outline-primary btn-sm pager-next" type="button"'
            + (page >= totalPage ? ' disabled' : '') + '>下一页</button>'
            + '</div></div>';
        var $holder = $("#" + holderId);
        $holder.html(html);
        $holder.find(".pager-prev").on("click", function () {
            if (page > 1) {
                onChange(page - 1);
            }
        });
        $holder.find(".pager-next").on("click", function () {
            if (page < totalPage) {
                onChange(page + 1);
            }
        });
    }

    function pageData(result, fallbackPage, fallbackSize) {
        var extend = (result && result.extend) ? result.extend : {};
        var total = Number(extend.total);
        var currentPage = Number(extend.page);
        var pageSize = Number(extend.size);
        return {
            list: extend.list || [],
            total: (isNaN(total) || total < 0) ? 0 : total,
            page: (isNaN(currentPage) || currentPage < 1) ? fallbackPage : currentPage,
            size: (isNaN(pageSize) || pageSize < 1) ? fallbackSize : pageSize
        };
    }

    function tip(result, fallback) {
        if (result && result.msg) {
            return result.msg;
        }
        if (typeof result === "string" && result) {
            return result;
        }
        return fallback;
    }

    function loadUnreadCount() {
        $.ajax({
            url: "/org/notifications/unreadCount",
            type: "GET",
            success: function (result) {
                var count = (result && result.extend) ? result.extend.count : 0;
                $("#unread_count").text((count === null || count === undefined) ? 0 : count);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    var page = 1, size = 10, activityNum = "";

    var trainings = {};

    var trainingModal = null;
    var situationModal = null;

    var situationPage = 1, situationSize = 10;
    var currentTrainingNum = null;

    function loadActivityOptions(selector) {
        var urls = [
            "/activity/findNotStartActivityByNumAndState",
            "/activity/findCarryActivityByNumAndState",
            "/activity/findEndActivityByNumAndState"
        ];
        $.each(urls, function (index, url) {
            $.ajax({
                url: url,
                type: "GET",
                data: {"page": 1, "size": 100},
                success: function (result) {
                    var data = pageData(result, 1, 100);
                    var $select = $(selector);
                    $.each(data.list, function (i, activity) {
                        if ($select.find('option[value="' + activity.activityNum + '"]').length === 0) {
                            $select.append($("<option></option>").val(activity.activityNum)
                                .text(activity.activityName));
                        }
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });
    }

    function loadTrainings() {
        $.ajax({
            url: "/org/content/trainings",
            type: "GET",
            data: {"activityNum": activityNum, "page": page, "size": size},
            success: function (result) {
                var data = pageData(result, page, size);
                var tabValue = "";
                $.each(data.list, function (index, item) {
                    trainings[item.trainingNum] = item;
                    tabValue += `<tr>
                                    <td>${item.trainingName}</td>
                                    <td>${item.activityName || "—"}</td>
                                    <td>${item.trainingDetail || "—"}</td>
                                    <td>${formatTime(item.trainingBegintime)}</td>
                                    <td>${formatTime(item.trainingEndtime)}</td>
                                    <td>${item.trainingLocation || "—"}</td>
                                    <td>${item.trainingCheckin || "—"}</td>
                                    <td>${item.situationCount || 0}</td>
                                    <td>
                                        <div class="btn-group btn-group-pill" role="group" aria-label="培训操作">
                                            <button class="btn btn-outline-primary btn-sm" type="button"
                                                    onclick="openSituationModal(${item.trainingNum})">培训情况</button>
                                            <button class="btn btn-outline-secondary btn-sm" type="button"
                                                    onclick="openTrainingModal(${item.trainingNum})">编辑</button>
                                            <button class="btn btn-outline-danger btn-sm" type="button"
                                                    onclick="deleteTraining(${item.trainingNum})">删除</button>
                                        </div>
                                    </td>
                                 </tr>`;
                });
                if (data.list.length === 0) {
                    tabValue = `<tr><td colspan="9" class="text-center text-muted">暂无数据</td></tr>`;
                }
                $("#training_table tbody").html(tabValue);
                renderPager("training_pager", data.total, data.page, data.size, function (target) {
                    page = target;
                    loadTrainings();
                });
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function openTrainingModal(trainingNum) {
        var training = trainingNum ? trainings[trainingNum] : null;
        $("#training_num").val(training ? training.trainingNum : "");
        $("#trainingModalLabel").text(training ? "编辑培训安排" : "新增培训安排");
        $("#training_name").val(training ? training.trainingName : "");
        $("#training_detail").val(training ? (training.trainingDetail || "") : "");
        $("#training_begin").val(training ? toDateTimeInput(training.trainingBegintime) : "");
        $("#training_end").val(training ? toDateTimeInput(training.trainingEndtime) : "");
        $("#training_location").val(training ? (training.trainingLocation || "") : "");
        $("#training_checkin").val(training ? (training.trainingCheckin || "") : "");
        if (training && $("#training_activity").find('option[value="' + training.activityNum + '"]').length === 0) {
            $("#training_activity").append($("<option></option>").val(training.activityNum)
                .text(training.activityName || ("活动 " + training.activityNum)));
        }
        $("#training_activity").val(training ? training.activityNum : ($("#activity_filter").val() || ""));
        if (!trainingModal) {
            trainingModal = new bootstrap.Modal(document.getElementById("trainingModal"));
        }
        trainingModal.show();
    }

    function saveTraining() {
        var activityValue = $("#training_activity").val();
        var name = $.trim($("#training_name").val());
        var beginTime = toApiTime($("#training_begin").val());
        var endTime = toApiTime($("#training_end").val());
        if (!activityValue) {
            alert("请选择培训所属活动");
            return;
        }
        if (!name) {
            alert("请填写培训名称");
            return;
        }
        if (!beginTime || !endTime) {
            alert("请填写培训开始时间与结束时间");
            return;
        }
        $.ajax({
            url: "/org/content/training/save",
            type: "POST",
            data: {
                "trainingNum": $("#training_num").val(),
                "activityNum": activityValue,
                "name": name,
                "detail": $("#training_detail").val(),
                "beginTime": beginTime,
                "endTime": endTime,
                "location": $("#training_location").val(),
                "checkin": $("#training_checkin").val()
            },
            success: function (result) {
                var success = result && result.code === 100;
                alert(tip(result, success ? "培训安排已保存" : "培训安排保存失败"));
                if (success) {
                    if (trainingModal) {
                        trainingModal.hide();
                    }
                    loadTrainings();
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function deleteTraining(trainingNum) {
        if (!confirm("确定删除该培训安排吗？删除后不可恢复。")) {
            return;
        }
        $.ajax({
            url: "/org/content/training/delete",
            type: "POST",
            data: {"trainingNum": trainingNum},
            success: function (result) {
                var success = result && result.code === 100;
                alert(tip(result, success ? "培训安排已删除" : "培训安排删除失败"));
                if (success) {
                    loadTrainings();
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function openSituationModal(trainingNum) {
        currentTrainingNum = trainingNum;
        situationPage = 1;
        var training = trainings[trainingNum] || {};
        $("#situation_training_name").text(training.trainingName ? "：" + training.trainingName : "");
        $("#situation_volunteer").empty().append('<option value="">请选择志愿者</option>');
        $("#situation_begin").val("");
        $("#situation_end").val("");
        $("#situation_hint").text("").addClass("d-none");
        loadSituationVolunteers();
        loadSituations();
        if (!situationModal) {
            situationModal = new bootstrap.Modal(document.getElementById("situationModal"));
        }
        situationModal.show();
    }

    function loadSituationVolunteers() {
        var training = trainings[currentTrainingNum] || {};
        if (!training.activityNum) {
            return;
        }
        $.ajax({
            url: "/activity/volRecruit",
            type: "GET",
            data: {"activityNum": training.activityNum, "page": 1, "size": 100},
            success: function (result) {
                var data = pageData(result, 1, 100);
                var $select = $("#situation_volunteer");
                var added = 0;
                $.each(data.list, function (index, item) {
                    if (item.participateApplystate !== "1") {
                        return true;
                    }
                    var volunteer = item.volunteer || {};
                    var label = (volunteer.volunteerName || "志愿者")
                        + "（" + (volunteer.volunteerId || item.volunteerNum) + "）";
                    $select.append($("<option></option>").val(item.volunteerNum).text(label));
                    added += 1;
                });
                if (added === 0) {
                    $("#situation_hint").text("该培训所属活动暂无已通过报名的志愿者").removeClass("d-none");
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function loadSituations() {
        $.ajax({
            url: "/org/content/training/situations",
            type: "GET",
            data: {"trainingNum": currentTrainingNum, "page": situationPage, "size": situationSize},
            success: function (result) {
                var data = pageData(result, situationPage, situationSize);
                var tabValue = "";
                $.each(data.list, function (index, item) {
                    tabValue += `<tr>
                                    <td>${item.volunteerId || "—"}</td>
                                    <td>${item.volunteerName || "—"}</td>
                                    <td>${item.volunteerTel || "—"}</td>
                                    <td>${formatTime(item.vtsituationBegintime)}</td>
                                    <td>${formatTime(item.vtsituationEndtime)}</td>
                                 </tr>`;
                });
                if (data.list.length === 0) {
                    tabValue = `<tr><td colspan="5" class="text-center text-muted">暂无数据</td></tr>`;
                }
                $("#situation_table tbody").html(tabValue);
                renderPager("situation_pager", data.total, data.page, data.size, function (target) {
                    situationPage = target;
                    loadSituations();
                });
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function saveSituation() {
        var volunteerNum = $("#situation_volunteer").val();
        var beginTime = toApiTime($("#situation_begin").val());
        var endTime = toApiTime($("#situation_end").val());
        if (currentTrainingNum === null) {
            return;
        }
        if (!volunteerNum) {
            alert("请选择参加培训的志愿者");
            return;
        }
        if (!beginTime || !endTime) {
            alert("请填写培训开始时间与结束时间");
            return;
        }
        $.ajax({
            url: "/org/content/training/situation/save",
            type: "POST",
            data: {
                "trainingNum": currentTrainingNum,
                "volunteerNum": volunteerNum,
                "beginTime": beginTime,
                "endTime": endTime
            },
            success: function (result) {
                var success = result && result.code === 100;
                alert(tip(result, success ? "培训情况已登记" : "培训情况登记失败"));
                if (success) {
                    situationPage = 1;
                    loadSituations();
                    loadTrainings();
                }
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    $(document).ready(function () {
        loadUnreadCount();
        loadActivityOptions("#activity_filter");
        loadActivityOptions("#training_activity");
        loadTrainings();
        $("#search_button").click(function () {
            page = 1;
            activityNum = $("#activity_filter").val();
            loadTrainings();
        });
        $("#add_training_button").click(function () {
            openTrainingModal(null);
        });
        $("#training_submit").click(function () {
            saveTraining();
        });
        $("#situation_submit").click(function () {
            saveSituation();
        });
    });

</script>
</body>
</html>
