<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/console/assets/images/favicon.png" type="image/x-icon">
    <title>培训与公告 - E志愿志愿者服务平台 V1.0</title>

    <link rel="stylesheet" type="text/css" href="/console/assets/css/fontawesome.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/icofont.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/themify.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/flag-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/feather-icon.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="/console/assets/css/responsive.css">
</head>
<body>

<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>

<div class="page-wrapper compact-wrapper" id="pageWrapper">

    <div class="page-main-header">
        <div class="main-header-right row m-0">
            <div class="main-header-left">
                <div class="logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                   src="/console/assets/images/logo/app-logo.svg" alt=""></a>
                </div>
                <div class="dark-logo-wrapper"><a href="index.html"><img class="img-fluid"
                                                                         src="/console/assets/images/logo/app-logo-dark.svg"
                                                                         alt=""></a></div>
                <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="sidebar"
                                               id="sidebar-toggle"></i></div>
            </div>
            <div class="left-menu-header col">
                <h6 class="f-w-600 mb-0">志愿者工作台</h6>
            </div>
            <div class="nav-right col pull-right right-menu p-0">
                <ul class="nav-menus">
                    <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i
                            data-feather="maximize"></i></a></li>
                    <li class="p-0">
                        <button class="btn btn-primary-light" type="button"><a href="/logout"><i
                                data-feather="power"></i>退出登录</a></button>
                    </li>
                </ul>
            </div>
            <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="menu"></i></div>
        </div>
    </div>

    <div class="page-body-wrapper sidebar-icon">

        <header class="main-nav">
            <div class="sidebar-user text-center">
                <a class="setting-primary" href="profile.html"><i data-feather="settings"></i></a>
                <img class="img-90 rounded-circle" src="/console/assets/images/dashboard/1.png" alt="">
                <a href="profile.html"><h6 class="mt-3 f-14 f-w-600" id="sidebar_volunteer_name">志愿者</h6></a>
                <p class="mb-0 font-roboto" id="sidebar_volunteer_id">编号：—</p>
            </div>
            <nav>
                <div class="main-navbar">
                    <div class="left-arrow" id="left-arrow"><i data-feather="rewind"></i></div>
                    <div id="mainnav">
                        <ul class="nav-menu custom-scrollbar">
                            <li class="back-btn">
                                <div class="mobile-back text-end"><span>返回</span><i class="fa fa-angle-right ps-2"
                                                                                   aria-hidden="true"></i></div>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>志愿服务</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="index.html"><i
                                    data-feather="home"></i><span>个人工作台</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="activity_plaza.html"><i
                                    data-feather="compass"></i><span>活动广场</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="my_participation.html"><i
                                    data-feather="clipboard"></i><span>我的报名</span></a>
                            </li>
                            <li class="sidebar-main-title">
                                <div><h6>我的中心</h6></div>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="profile.html"><i
                                    data-feather="user"></i><span>我的档案</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="notifications.html"><i
                                    data-feather="bell"></i><span>消息通知</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title active" href="training.html"><i
                                    data-feather="book-open"></i><span>培训与公告</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="show.html"><i
                                    data-feather="image"></i><span>志愿秀</span></a>
                            </li>
                            <li class="dropdown"><a class="nav-link menu-title" href="certificate.html"><i
                                    data-feather="award"></i><span>志愿服务证明</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-arrow" id="right-arrow"><i data-feather="play"></i></div>
                </div>
            </nav>
        </header>

        <div class="page-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>我的培训</h5>
                            </div>
                            <div class="card-body">
                                <p class="text-muted small mb-2">仅展示本人已通过报名的志愿活动对应的培训安排。</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordernone">
                                        <thead>
                                        <tr>
                                            <th scope="col">培训名称</th>
                                            <th scope="col">培训详情</th>
                                            <th scope="col">开始时间</th>
                                            <th scope="col">结束时间</th>
                                            <th scope="col">培训地点</th>
                                            <th scope="col">关联活动</th>
                                        </tr>
                                        </thead>
                                        <tbody id="training_table">
                                        <tr>
                                            <td colspan="6" class="text-center text-muted">数据加载中……</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <span class="text-muted small" id="train_total">共 0 条</span>
                                    </div>
                                    <div class="col-md-6">
                                        <nav class="float-end">
                                            <ul class="pagination pagination-primary mb-0">
                                                <li class="page-item" id="train_prev"><a class="page-link" href="#!"
                                                        onclick="changeTrainPage(-1);return false;">上一页</a></li>
                                                <li class="page-item disabled"><a class="page-link" href="#!"
                                                        id="train_page_info">第 1 / 1 页</a></li>
                                                <li class="page-item" id="train_next"><a class="page-link" href="#!"
                                                        onclick="changeTrainPage(1);return false;">下一页</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>活动公告</h5>
                            </div>
                            <div class="card-body">
                                <p class="text-muted small mb-2">仅展示本人已报名志愿活动的公告信息。</p>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordernone">
                                        <thead>
                                        <tr>
                                            <th scope="col">公告标题</th>
                                            <th scope="col">公告内容</th>
                                            <th scope="col">关联活动</th>
                                        </tr>
                                        </thead>
                                        <tbody id="announcement_table">
                                        <tr>
                                            <td colspan="3" class="text-center text-muted">数据加载中……</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <span class="text-muted small" id="anno_total">共 0 条</span>
                                    </div>
                                    <div class="col-md-6">
                                        <nav class="float-end">
                                            <ul class="pagination pagination-primary mb-0">
                                                <li class="page-item" id="anno_prev"><a class="page-link" href="#!"
                                                        onclick="changeAnnoPage(-1);return false;">上一页</a></li>
                                                <li class="page-item disabled"><a class="page-link" href="#!"
                                                        id="anno_page_info">第 1 / 1 页</a></li>
                                                <li class="page-item" id="anno_next"><a class="page-link" href="#!"
                                                        onclick="changeAnnoPage(1);return false;">下一页</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/console/assets/js/jquery-3.5.1.min.js"></script>

<script src="/console/assets/js/icons/feather-icon/feather.min.js"></script>
<script src="/console/assets/js/icons/feather-icon/feather-icon.js"></script>

<script src="/console/assets/js/sidebar-menu.js"></script>
<script src="/console/assets/js/config.js"></script>

<script src="/console/assets/js/bootstrap/popper.min.js"></script>
<script src="/console/assets/js/bootstrap/bootstrap.min.js"></script>

<script src="/console/assets/js/script.js"></script>

<script type="text/javascript">

    function formatTime(value) {
        if (!value) {
            return "—";
        }
        return String(value).replace("T", " ").substring(0, 16);
    }

    function formatTrainingTime(training) {
        var begin = formatTime(training.trainingBegintime);
        var end = formatTime(training.trainingEndtime);
        if (begin === "—" && end === "—") {
            return "—";
        }
        return begin + " ~ " + end;
    }

    var trainPage = 1;
    var trainSize = 10;
    var trainTotal = 0;
    var annoPage = 1;
    var annoSize = 10;
    var annoTotal = 0;

    function loadProfile() {
        $.ajax({
            url: "/volunteer/profile",
            type: "GET",
            success: function (result) {
                if (!result || result.code !== 100 || !result.extend || !result.extend.profile) {
                    if (result && result.msg) {
                        alert(result.msg);
                    }
                    return;
                }
                var profile = result.extend.profile;
                $("#sidebar_volunteer_name").text(profile.volunteerName || "志愿者");
                $("#sidebar_volunteer_id").text("编号：" + (profile.volunteerId || "—"));
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function renderPager(prefix, total, current, pageSize, defaultSize) {
        var totalCount = Number(total);
        if (isNaN(totalCount) || totalCount < 0) {
            totalCount = 0;
        }
        var currentPage = Number(current);
        if (isNaN(currentPage) || currentPage < 1) {
            currentPage = 1;
        }
        var currentSize = Number(pageSize);
        if (isNaN(currentSize) || currentSize < 1) {
            currentSize = defaultSize;
        }
        var totalPages = totalCount > 0 ? Math.ceil(totalCount / currentSize) : 1;
        $("#" + prefix + "_total").text("共 " + totalCount + " 条");
        $("#" + prefix + "_page_info").text("第 " + currentPage + " / " + totalPages + " 页");
        $("#" + prefix + "_prev").toggleClass("disabled", currentPage <= 1);
        $("#" + prefix + "_next").toggleClass("disabled", totalCount === 0 || currentPage >= totalPages);
        return totalCount;
    }

    function renderTrainings(trainings) {
        var html = "";
        if (!trainings || trainings.length === 0) {
            html = '<tr><td colspan="6" class="text-center text-muted">暂无数据</td></tr>';
        } else {
            $.each(trainings, function (index, item) {
                html += "<tr>"
                    + "<td>" + (item.trainingName || "—") + "</td>"
                    + "<td>" + (item.trainingDetail || "—") + "</td>"
                    + "<td>" + formatTime(item.trainingBegintime) + "</td>"
                    + "<td>" + formatTime(item.trainingEndtime) + "</td>"
                    + "<td>" + (item.trainingLocation || "—") + "</td>"
                    + "<td>" + (item.activityName || "—") + "</td>"
                    + "</tr>";
            });
        }
        $("#training_table").html(html);
    }

    function loadTrainings() {
        $.ajax({
            url: "/volunteer/content/trainings",
            type: "GET",
            data: {page: trainPage, size: trainSize},
            success: function (result) {
                if (!result || result.code !== 100 || !result.extend) {
                    if (result && result.msg) {
                        alert(result.msg);
                    }
                    return;
                }
                renderTrainings(result.extend.list);
                trainTotal = renderPager("train", result.extend.total, result.extend.page,
                    result.extend.size, trainSize);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function changeTrainPage(step) {
        var nextPage = trainPage + step;
        var totalPages = trainTotal > 0 ? Math.ceil(trainTotal / trainSize) : 1;
        if (nextPage < 1 || nextPage > totalPages) {
            return;
        }
        trainPage = nextPage;
        loadTrainings();
    }

    function renderAnnouncements(announcements) {
        var html = "";
        if (!announcements || announcements.length === 0) {
            html = '<tr><td colspan="3" class="text-center text-muted">暂无数据</td></tr>';
        } else {
            $.each(announcements, function (index, item) {
                html += "<tr>"
                    + "<td>" + (item.actannouncementName || "—") + "</td>"
                    + "<td>" + (item.actannouncementDetail || "—") + "</td>"
                    + "<td>" + (item.activityName || "—") + "</td>"
                    + "</tr>";
            });
        }
        $("#announcement_table").html(html);
    }

    function loadAnnouncements() {
        $.ajax({
            url: "/volunteer/content/announcements",
            type: "GET",
            data: {page: annoPage, size: annoSize},
            success: function (result) {
                if (!result || result.code !== 100 || !result.extend) {
                    if (result && result.msg) {
                        alert(result.msg);
                    }
                    return;
                }
                renderAnnouncements(result.extend.list);
                annoTotal = renderPager("anno", result.extend.total, result.extend.page,
                    result.extend.size, annoSize);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function changeAnnoPage(step) {
        var nextPage = annoPage + step;
        var totalPages = annoTotal > 0 ? Math.ceil(annoTotal / annoSize) : 1;
        if (nextPage < 1 || nextPage > totalPages) {
            return;
        }
        annoPage = nextPage;
        loadAnnouncements();
    }

    $(document).ready(function () {
        loadProfile();
        loadTrainings();
        loadAnnouncements();
    });
</script>
</body>
</html>
