<!DOCTYPE html>
<html class="wide wow-animation" lang="zh-CN">
<head>
    <title>首页 - E志愿志愿者服务平台 V1.0</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="/portal/css/bootstrap.css">
    <link rel="stylesheet" href="/portal/css/fonts.css">
    <link rel="stylesheet" href="/portal/css/style.css">
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="preloader-item"></div>
    </div>
</div>
<div class="page">
    <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed"
                 data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
                 data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true"
                 data-xxl-stick-up="true">
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
                     data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!--RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!--RD Navbar Toggle-->
                            <!--RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                            </button>
                            <!--RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark"
                                                                                    src="/portal/images/logo-default-334x134.png"
                                                                                    alt="" width="167" height="67"
                                                                                    loading="lazy"/><img
                                    class="brand-logo-light" src="/portal/images/logo-inverse-334x134.png" alt=""
                                    width="167" height="67" loading="lazy"/></a>
                            </div>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">主页</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="#organizations">志愿者组织</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="#activities">志愿风采</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/admin/login.html">志愿者登录</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/portal/verify.html">服务证明校验</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rd-navbar-aside rd-navbar-collapse">
                            <a class="rd-navbar-link btn btn-secondary" href="../admin/login.html">注册/登录</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- About us-->
    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row row-30 align-items-center flex-md-row-reverse">
                <div class="col-md-6">
                    <div class="layout layout-1"><img class="layout-item wow fadeInRight"
                                                      src="/portal/images/element-01-300x286.png" alt="" width="300"
                                                      height="286" loading="lazy"/><img
                            src="/portal/images/home-01-610x492.jpg" alt="" width="610" height="492" loading="lazy"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pe-xl-5">
                        <img src="/portal/images/icon_evol.png" alt="E志愿志愿者服务平台">
                        <h1 class="wow fadeInLeft">E志愿志愿者服务平台</h1>
                        <div class="big wow fadeInLeft">聚焦志愿活动申报、审核、报名与志愿服务记录的一体化平台</div>
                        <!--                        <h1 class="wow fadeInLeft">E-志愿</h1>-->
                        <!--                        <div class="big wow fadeInLeft">E-volunteer</div>-->
                        <!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 志愿者组织 -->
    <section class="section section-lg bg-default" id="organizations">
        <div class="container">
            <h2>志愿者组织</h2>
            <div class="owl-carousel owl-carousel-center owl-carousel-1" data-items="1" data-sm-items="2"
                 data-md-items="3" data-lg-items="4" data-xl-items="5" data-autoplay="true"
                 data-owl="{&quot;dots&quot;:true,&quot;slideTransition&quot;:&quot;linear&quot;,&quot;autoplayTimeout&quot;:4000,&quot;autoplaySpeed&quot;:4000,&quot;autoplayHoverPause&quot;:true}">
                <a class="image-link" href="#"><img src="/portal/images/org1.png" alt="" width="164"
                                                    height="37" loading="lazy"/></a><a class="image-link" href="#"><img
                    src="/portal/images/org2.png" alt="" width="164" height="41" loading="lazy"/></a><a
                    class="image-link mt-sm-2" href="#"><img src="/portal/images/org3.png" alt="" width="195"
                                                             height="30" loading="lazy"/></a><a class="image-link"
                                                                                                href="#"><img
                    src="/portal/images/org4.png" alt="" width="164" height="25" loading="lazy"/></a><a
                    class="image-link" href="#"><img src="/portal/images/org5.png" alt="" width="164"
                                                     height="29" loading="lazy"/></a></div>
        </div>
    </section>
    <!--    <section class="section section-lg bg-default">-->
    <!--        <div class="container">-->
    <!--            <div class="text-block text-block-1 text-center">-->
    <!--            </div>-->
    <!--            <div class="owl-carousel owl-carousel-2 owl-carousel-shadow" data-items="1" data-sm-items="2"-->
    <!--                 data-lg-items="3" data-xxl-margin="50" data-loop="false" data-autoplay="false"-->
    <!--                 data-owl="{&quot;dots&quot;:true}">-->
    <!--                <div class="blurb-number blurb-number-boxed blurb-number-primary wow fadeInLeft">-->
    <!--                    <div class="blurb-number-value">01</div>-->
    <!--                    <h3 class="blurb-number-title">Our Mission</h3>-->
    <!--                    <div class="blurb-number-text">We see our mission in generating resources through fundraising-->
    <!--                        initiatives and partnerships.-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="blurb-number blurb-number-boxed blurb-number-secondary wow fadeInUp">-->
    <!--                    <div class="blurb-number-value">02</div>-->
    <!--                    <h3 class="blurb-number-title">Our Vision</h3>-->
    <!--                    <div class="blurb-number-text">We aim to grant wishes that will give hope to people in need in-->
    <!--                        communities across the world.-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="blurb-number blurb-number-boxed blurb-number-primary-light wow fadeInRight">-->
    <!--                    <div class="blurb-number-value">03</div>-->
    <!--                    <h3 class="blurb-number-title">Our Goal</h3>-->
    <!--                    <div class="blurb-number-text">The goal of our organization is to reduce the inequity in access to-->
    <!--                        education &amp; health care.-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
    <!-- About us-->
    <br>
    <section class="section section-lg bg-default text-center" id="activities">
        <div class="container">
            <div class="text-block text-block-2">
                <h2>志愿风采</h2>
                <!--                <div class="big">We regularly organize charitable campaigns aimed at changing the lives of people around-->
                <!--                    the world.-->
                <!--                </div>-->
            </div>
            <div class="owl-carousel owl-carousel-2" data-items="1" data-sm-items="2" data-lg-items="3"
                 data-xxl-margin="50" data-loop="false" data-autoplay="false" data-owl="{&quot;dots&quot;:true}">
                <div class="post-classic wow fadeInUp"><a class="post-classic-media" href="../admin/login.html"><img
                        class="post-classic-img" src="/portal/images/events-01-390x300.jpg" alt="" width="390"
                        height="300" loading="lazy"/></a>
                    <h3 class="post-classic-title"><a href="../admin/login.html">爱心便当志愿活动</a></h3>
                    <div class="post-classic-meta post-meta">
                        <div class="post-meta-item"><span class="post-date">2023-01-02</span></div>
                    </div>
                    <button class="post-classic-btn btn btn-secondary">
                        查看活动详情
                    </button>
                </div>
                <div class="post-classic wow fadeInUp" data-wow-delay=".15s"><a class="post-classic-media"
                                                                                href="../admin/login.html"><img
                        class="post-classic-img" src="/portal/images/events-02-390x300.jpg" alt="" width="390"
                        height="300" loading="lazy"/></a>
                    <h3 class="post-classic-title"><a href="../admin/login.html">助学志愿活动</a></h3>
                    <div class="post-classic-meta post-meta">
                        <div class="post-meta-item"><span class="post-date">2023-05-11</span></div>
                    </div>
                    <button class="post-classic-btn btn btn-secondary">
                        查看活动详情
                    </button>
                </div>
                <div class="post-classic wow fadeInUp" data-wow-delay=".3s"><a class="post-classic-media"
                                                                               href="../admin/login.html"><img
                        class="post-classic-img" src="/portal/images/events-03-390x300.jpg" alt="" width="390"
                        height="300" loading="lazy"/></a>
                    <h3 class="post-classic-title"><a href="../admin/login.html">公益捐书志愿活动</a>
                    </h3>
                    <div class="post-classic-meta post-meta">
                        <div class="post-meta-item"><span class="post-date">2023-08-28</span></div>
                    </div>
                    <button class="post-classic-btn btn btn-secondary">
                        查看活动详情
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-secondary-lightest">
        <div class="container">
            <div class="row row-30 align-items-center">
                <div class="col-md-6">
                    <div class="layout layout-2"><img class="layout-item wow fadeInLeft"
                                                      src="/portal/images/element-02-254x368.png" alt="" width="254"
                                                      height="368" loading="lazy"/><img
                            src="/portal/images/back1.jpg" alt="" width="610" height="492" loading="lazy"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ps-xl-5">
                        <h2 class="wow fadeInRight">E-志愿（益志愿）<br>志愿服务新时代，青年发展新风貌</h2>
                        <!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Campaigns-->

    <!-- About us-->
    <section class="section section-lg text-center bg-secondary-light-1">
        <div class="container">
            <div class="layout layout-3"><img class="layout-item layout-item wow fadeInRight"
                                              src="/portal/images/element-03-254x368.png" alt="" width="254"
                                              height="368" loading="lazy"/>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-6">
                        <h2 class="wow fadeIn">注册志愿者</h2>
                        <div class="big wow fadeIn" data-wow-delay=".1s">注册成为志愿者，报名参与身边的志愿服务活动
                        </div>
                        <!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="section footer-classic small">
        <div class="container">
            <div class="row row-30">
                <div class="col-md-6">
                    <h4 class="footer-title">E志愿志愿者服务平台</h4>
                    <p class="footer-text">面向志愿者、志愿者组织与平台管理员的志愿服务管理平台，提供志愿活动申报、活动审核、志愿者报名与志愿服务记录等功能。</p>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-title">快速入口</h4>
                    <ul class="list">
                        <li><a class="link-secondary" href="../admin/login.html">用户登录</a></li>
                        <li><a class="link-secondary" href="../admin/sign-up.html">志愿者注册</a></li>
                        <li><a class="link-secondary" href="/admin/login.html">志愿者登录</a></li>
                        <li><a class="link-secondary" href="/portal/verify.html">服务证明校验</a></li>
                    </ul>
                </div>
            </div>
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>E志愿志愿者服务平台 V1.0</span></p>
        </div>
    </footer>
</div>

<div class="snackbars" id="form-output-global"></div>
<script src="/portal/js/core.min.js"></script>
<script src="/portal/js/script.js"></script>

<script type="text/javascript">

</script>

</body>

</html>
