<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evolunteer.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.evolunteer.entity.Admin">
            <id property="adminNum" column="admin_num" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="VARCHAR"/>
            <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_num,admin_id,
        admin_name
    </sql>
    <select id="selectByAdminName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin
        where
        admin_name = #{adminName,jdbcType=VARCHAR}
    </select>
    <select id="selectByAdminId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin
        where
        admin_id = #{adminId,jdbcType=VARCHAR}
    </select>
</mapper>
