<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evolunteer.mapper.ParticipateMapper">
    <!-- E志愿志愿者服务平台 V1.0 活动报名表 participate 的映射文件 -->


    <resultMap id="BaseResultMap" type="com.evolunteer.entity.Participate">
            <id property="participateNum" column="participate_num" jdbcType="INTEGER"/>
            <result property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
            <result property="activityNum" column="activity_num" jdbcType="INTEGER"/>
            <result property="participateApplytime" column="participate_applytime" jdbcType="TIMESTAMP"/>
            <result property="participateApplystate" column="participate_applystate" jdbcType="VARCHAR"/>
            <result property="participateApplychecktime" column="participate_applychecktime" jdbcType="TIMESTAMP"/>
            <result property="participateTraining" column="participate_training" jdbcType="VARCHAR"/>
            <result property="participateBegintime" column="participate_begintime" jdbcType="TIMESTAMP"/>
            <result property="participateEndtime" column="participate_endtime" jdbcType="TIMESTAMP"/>
            <result property="participateDuration" column="participate_duration" jdbcType="FLOAT"/>
            <result property="participateTimecheck" column="participate_timecheck" jdbcType="VARCHAR"/>
            <result property="participateIsdeleted" column="participate_isdeleted" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="WithVolunteerResultMap" type="com.evolunteer.entity.Participate">
        <id property="participateNum" column="participate_num" jdbcType="INTEGER"/>
        <result property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
        <result property="activityNum" column="activity_num" jdbcType="INTEGER"/>
        <result property="participateApplytime" column="participate_applytime" jdbcType="TIMESTAMP"/>
        <result property="participateApplystate" column="participate_applystate" jdbcType="VARCHAR"/>
        <result property="participateApplychecktime" column="participate_applychecktime" jdbcType="TIMESTAMP"/>
        <result property="participateTraining" column="participate_training" jdbcType="VARCHAR"/>
        <result property="participateBegintime" column="participate_begintime" jdbcType="TIMESTAMP"/>
        <result property="participateEndtime" column="participate_endtime" jdbcType="TIMESTAMP"/>
        <result property="participateDuration" column="participate_duration" jdbcType="FLOAT"/>
        <result property="participateTimecheck" column="participate_timecheck" jdbcType="VARCHAR"/>
        <result property="participateIsdeleted" column="participate_isdeleted" jdbcType="INTEGER"/>
        <association property="volunteer" javaType="com.evolunteer.entity.Volunteer">
            <id property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
            <result property="volunteerId" column="volunteer_id" jdbcType="VARCHAR"/>
            <result property="volunteerPassword" column="volunteer_password" jdbcType="VARCHAR"/>
            <result property="volunteerName" column="volunteer_name" jdbcType="VARCHAR"/>
            <result property="volunteerRegisterdate" column="volunteer_registerdate" jdbcType="DATE"/>
            <result property="volunteerGender" column="volunteer_gender" jdbcType="VARCHAR"/>
            <result property="volunteerBirth" column="volunteer_birth" jdbcType="DATE"/>
            <result property="volunteerTel" column="volunteer_tel" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        participate_num,volunteer_num,activity_num,
        participate_applytime,participate_applystate,participate_applychecktime,
        participate_training,participate_begintime,participate_endtime,
        participate_duration,participate_timecheck,participate_isdeleted
    </sql>
    <sql id="ParticipateWithVolunteer_Column_List">
        participate.participate_num,
        participate.volunteer_num,
        participate.participate_applytime,
        participate.participate_applystate,
        participate.participate_applychecktime,
        participate.activity_num,
        volunteer.volunteer_id,
        volunteer.volunteer_name,
        volunteer.volunteer_gender,
        volunteer.volunteer_birth,
        volunteer.volunteer_tel
    </sql>

    <select id="selectParticipateWithVolunteerByActivityNum" resultMap="WithVolunteerResultMap">
        select
        <include refid="ParticipateWithVolunteer_Column_List"/>
        from participate, volunteer
        where participate.activity_num=#{activityNum,jdbcType=NUMERIC}
        and participate.volunteer_num=volunteer.volunteer_num
    </select>

    <insert id="organization_check_volunteer" statementType="CALLABLE">
        {call organization_check_volunteer(#{participateNum,mode=IN,jdbcType=NUMERIC},
                                           #{isPass,mode=IN,jdbcType=NUMERIC},
                                           #{msg,mode=OUT,jdbcType=VARCHAR})
            }
    </insert>



</mapper>
