<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evolunteer.mapper.PolicyFileMapper">
    <!-- E志愿志愿者服务平台 V1.0 公告附件表 policy_file 的映射文件 -->


    <resultMap id="BaseResultMap" type="com.evolunteer.entity.PolicyFile">
            <id property="policyfileNum" column="policyfile_num" jdbcType="INTEGER"/>
            <result property="policyannouncementNum" column="policyannouncement_num" jdbcType="INTEGER"/>
            <result property="policyfileId" column="policyfile_id" jdbcType="VARCHAR"/>
            <result property="policyfileName" column="policyfile_name" jdbcType="VARCHAR"/>
            <result property="policyfileRoute" column="policyfile_route" jdbcType="VARCHAR"/>
            <result property="policyfileUniquename" column="policyfile_uniquename" jdbcType="VARCHAR"/>
            <result property="policyfileIsdeleted" column="policyfile_isdeleted" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        policyfile_num,policyannouncement_num,policyfile_id,
        policyfile_name,policyfile_route,policyfile_uniquename,
        policyfile_isdeleted
    </sql>

    <!-- 按公告查询附件列表，按附件编号升序排列 -->
    <select id="selectByAnnouncementNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from policy_file
        where policyannouncement_num = #{policyannouncementNum,jdbcType=INTEGER}
        and policyfile_isdeleted = '0'
        order by policyfile_num asc
    </select>
</mapper>
