<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- E志愿志愿者服务平台 V1.0 志愿者表 volunteer 的映射文件 -->
<mapper namespace="com.evolunteer.mapper.VolunteerMapper">

    <resultMap id="BaseResultMap" type="com.evolunteer.entity.Volunteer">
        <id property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
        <result property="volunteerId" column="volunteer_id" jdbcType="VARCHAR"/>
        <result property="volunteerName" column="volunteer_name" jdbcType="VARCHAR"/>
        <result property="volunteerRegisterdate" column="volunteer_registerdate" jdbcType="DATE"/>
        <result property="volunteerGender" column="volunteer_gender" jdbcType="VARCHAR"/>
        <result property="volunteerBirth" column="volunteer_birth" jdbcType="DATE"/>
        <result property="volunteerTel" column="volunteer_tel" jdbcType="VARCHAR"/>
        <result property="volunteerLatitude" column="volunteer_latitude" jdbcType="DECIMAL"/>
        <result property="volunteerLongitude" column="volunteer_longitude" jdbcType="DECIMAL"/>
        <result property="volunteerCredit" column="volunteer_credit" jdbcType="INTEGER"/>
        <result property="volunteerNoshow" column="volunteer_noshow" jdbcType="INTEGER"/>
        <result property="volunteerTotalduration" column="volunteer_totalduration" jdbcType="FLOAT"/>
        <result property="volunteerIsdeleted" column="volunteer_isdeleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        volunteer_num,volunteer_id,
        volunteer_name,volunteer_registerdate,volunteer_gender,
        volunteer_birth,volunteer_tel,
        volunteer_latitude,volunteer_longitude,
        volunteer_credit,volunteer_noshow,volunteer_totalduration,
        volunteer_isdeleted
    </sql>

    <!-- 按志愿者姓名查询志愿者 -->
    <select id="selectByVolunteerName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from volunteer
        where
        volunteer_name = #{volunteerName,jdbcType=VARCHAR}
    </select>

    <!-- 按志愿者编号查询志愿者 -->
    <select id="selectByVolunteerId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from volunteer
        where
        volunteer_id = #{volunteerId,jdbcType=VARCHAR}
    </select>

    <!-- 统计使用指定手机号注册的志愿者数量，用于注册手机号查重 -->
    <select id="countByVolunteerTel" resultType="int">
        select count(*)
        from volunteer
        where volunteer_tel = #{signUpTel,jdbcType=VARCHAR}
    </select>

    <!-- 调用数据库存储过程完成志愿者注册，并返回数据库生成的志愿者编号 -->
    <insert id="volunteer_insert" statementType="CALLABLE">
        {call volunteer_insert(#{volunteerName,mode=IN,jdbcType=VARCHAR},
                               #{volunteerTel,mode=IN,jdbcType=VARCHAR},
                               #{volunteerPassword,mode=IN,jdbcType=VARCHAR},
                               #{volunteerId,mode=OUT,jdbcType=VARCHAR})
        }
    </insert>

</mapper>
