<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evolunteer.mapper.VolunteerTrainingSituationMapper">

    <resultMap id="BaseResultMap" type="com.evolunteer.entity.VolunteerTrainingSituation">
            <id property="vtsituationNum" column="vtsituation_num" jdbcType="INTEGER"/>
            <result property="trainingNum" column="training_num" jdbcType="INTEGER"/>
            <result property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
            <result property="vtsituationId" column="vtsituation_id" jdbcType="VARCHAR"/>
            <result property="vtsituationBegintime" column="vtsituation_begintime" jdbcType="TIMESTAMP"/>
            <result property="vtsituationEndtime" column="vtsituation_endtime" jdbcType="TIMESTAMP"/>
            <result property="vtsituationIsdeleted" column="vtsituation_isdeleted" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="TrainingSituationViewResultMap" type="com.evolunteer.entity.TrainingSituationView">
        <id property="vtsituationNum" column="vtsituation_num" jdbcType="INTEGER"/>
        <result property="trainingNum" column="training_num" jdbcType="INTEGER"/>
        <result property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
        <result property="vtsituationId" column="vtsituation_id" jdbcType="VARCHAR"/>
        <result property="vtsituationBegintime" column="vtsituation_begintime" jdbcType="TIMESTAMP"/>
        <result property="vtsituationEndtime" column="vtsituation_endtime" jdbcType="TIMESTAMP"/>
        <result property="volunteerId" column="volunteer_id" jdbcType="VARCHAR"/>
        <result property="volunteerName" column="volunteer_name" jdbcType="VARCHAR"/>
        <result property="volunteerTel" column="volunteer_tel" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        vtsituation_num,training_num,volunteer_num,
        vtsituation_id,vtsituation_begintime,vtsituation_endtime,
        vtsituation_isdeleted
    </sql>

    <select id="selectPageByTraining" resultMap="TrainingSituationViewResultMap">
        select
        volunteer_training_situation.vtsituation_num,
        volunteer_training_situation.training_num,
        volunteer_training_situation.volunteer_num,
        volunteer_training_situation.vtsituation_id,
        volunteer_training_situation.vtsituation_begintime,
        volunteer_training_situation.vtsituation_endtime,
        volunteer.volunteer_id,
        volunteer.volunteer_name,
        volunteer.volunteer_tel
        from volunteer_training_situation, volunteer
        where volunteer_training_situation.volunteer_num = volunteer.volunteer_num
        and volunteer_training_situation.vtsituation_isdeleted = 0
        and volunteer.volunteer_isdeleted = 0
        and volunteer_training_situation.training_num = #{trainingNum,jdbcType=INTEGER}
        order by volunteer_training_situation.vtsituation_num asc
    </select>

    <select id="selectNextSituationSeq" resultType="int">
        select coalesce(max(cast(substring(vtsituation_id, 5) as unsigned)), 0) + 1
        from volunteer_training_situation
        where vtsituation_id like 'vts%'
        and char_length(vtsituation_id) = 9
    </select>

    <select id="countVolunteerParticipate" resultType="int">
        select count(*)
        from participate
        where participate.volunteer_num = #{volunteerNum,jdbcType=INTEGER}
        and participate.activity_num = #{activityNum,jdbcType=INTEGER}
        and participate.participate_isdeleted = 0
    </select>
</mapper>
