<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evolunteer.mapper.VolunteerShowMapper">

    <resultMap id="BaseResultMap" type="com.evolunteer.entity.VolunteerShow">
            <id property="showNum" column="show_num" jdbcType="INTEGER"/>
            <result property="showId" column="show_id" jdbcType="VARCHAR"/>
            <result property="showDetail" column="show_detail" jdbcType="VARCHAR"/>
            <result property="showSharetime" column="show_sharetime" jdbcType="TIMESTAMP"/>
            <result property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
            <result property="activityNum" column="activity_num" jdbcType="INTEGER"/>
            <result property="showBrowse" column="show_browse" jdbcType="INTEGER"/>
            <result property="showLike" column="show_like" jdbcType="INTEGER"/>
            <result property="showIsdeleted" column="show_isdeleted" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="VolunteerShowViewResultMap" type="com.evolunteer.entity.PortalShowView">
        <id property="showNum" column="show_num" jdbcType="INTEGER"/>
        <result property="showId" column="show_id" jdbcType="VARCHAR"/>
        <result property="showDetail" column="show_detail" jdbcType="VARCHAR"/>
        <result property="showSharetime" column="show_sharetime" jdbcType="TIMESTAMP"/>
        <result property="volunteerNum" column="volunteer_num" jdbcType="INTEGER"/>
        <result property="activityNum" column="activity_num" jdbcType="INTEGER"/>
        <result property="showBrowse" column="show_browse" jdbcType="INTEGER"/>
        <result property="showLike" column="show_like" jdbcType="INTEGER"/>
        <result property="pictureCount" column="picture_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        show_num,show_id,show_detail,
        show_sharetime,volunteer_num,activity_num,
        show_browse,show_like,show_isdeleted
    </sql>

    <select id="selectPageByVolunteer" resultMap="VolunteerShowViewResultMap">
        select
        <include refid="Base_Column_List"/>,
        (select count(*) from show_picture picture
        where picture.show_num = `show`.show_num
        and picture.picture_isdeleted = 0) as picture_count
        from `show`
        where volunteer_num = #{volunteerNum,jdbcType=INTEGER}
        and show_isdeleted = 0
        order by show_sharetime desc, show_num desc
    </select>

    <select id="selectShowByNum" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `show`
        where show_num = #{showNum,jdbcType=INTEGER}
        and show_isdeleted = 0
    </select>

    <update id="logicDeleteByShowNum">
        update `show`
        set show_isdeleted = 1
        where show_num = #{showNum,jdbcType=INTEGER}
        and show_isdeleted = 0
    </update>

    <insert id="volunteer_publish_show" statementType="CALLABLE">
        {call volunteer_publish_show(#{volunteerNum,mode=IN,jdbcType=INTEGER},
                                     #{activityNum,mode=IN,jdbcType=INTEGER},
                                     #{detail,mode=IN,jdbcType=VARCHAR},
                                     #{showNum,mode=OUT,jdbcType=INTEGER},
                                     #{msg,mode=OUT,jdbcType=VARCHAR},
                                     #{ok,mode=OUT,jdbcType=INTEGER})
        }
    </insert>

    <update id="increaseBrowse">
        update `show`
        set show_browse = ifnull(show_browse, 0) + 1
        where show_num = #{showNum,jdbcType=INTEGER}
        and show_isdeleted = 0
    </update>

    <update id="increaseLike">
        update `show`
        set show_like = ifnull(show_like, 0) + 1
        where show_num = #{showNum,jdbcType=INTEGER}
        and show_isdeleted = 0
    </update>

    <update id="decreaseLike">
        update `show`
        set show_like = show_like - 1
        where show_num = #{showNum,jdbcType=INTEGER}
        and show_isdeleted = 0
        and show_like > 0
    </update>

    <update id="refreshLikeCount">
        update `show`
        set show_like = (select count(*) from show_like_record
        where show_like_record.show_num = #{showNum,jdbcType=INTEGER})
        where show_num = #{showNum,jdbcType=INTEGER}
        and show_isdeleted = 0
    </update>
</mapper>
